# Soroban Network configuration
SOROBAN_RPC_URL="https://soroban-testnet.stellar.org:443"
SOROBAN_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# CLI / SDK configurations
SAS_CONTRACT_ID=
SCHEMA_REGISTRY_CONTRACT_ID=
INDEXER_CONTRACT_ID=

# Admin public address (no secret key stored by default)
ADMIN_PUBLIC_ADDRESS=
